/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin-right: 20%;
    margin-left: 20%;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 15px;
    text-align: left;
}

table th {
    background-color: #243f5c;
    color: #fff;
}

table td {
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background-color: #f2f2f2;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

.text-tambah {
    display: inline-flex;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    cursor: pointer;
}

.text-tambah:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}